<div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light topImg">
    <br> <br> <br>
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal text-danger">Penta</h1>
        <p class="lead fw-bold text-secondary ">“It’s tangible, it’s solid, it’s beautiful. It’s artistic, from our
            standpoint, and we just love real estate.”</p>
        <a class="btn btn-danger" href="#search">Get Started</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="container" id="search">
    <div class="row mt-3">
        <div class="col-md-6 mx-auto">
            <form id="search_form" class="col-lg-auto mb-3 mb-lg-0 me-lg-3" onsubmit="return false">
                <input type="search" id="search" class="form-control form-control-dark" placeholder="Enter location">
                <small id="search_error" class="form-text text-muted"></small>
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-outline-danger me-2"><i class="fas fa-search-location"></i>
                        Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-danger text-center mt-4">What We Do</h2>
    <!-- <p> -->
    <div class="row">
        <div class="col-md-4 d-grid p-1 mx-auto">
            <button class="btn btn-outline-danger" type="button" data-bs-toggle="collapse"
                data-bs-target=".multi-collapse" aria-expanded="false"
                aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3">Click here to find
                out...</button>
        </div>
    </div>
    <!-- </p> -->
    <div class="row my-3">
        <div class="col-md-4">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <h4 class="text-danger">Find Land</h4>
                    With over 1 million+ Land for sale available on the website, Trulia can match you with a house you
                    will want to call home.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                    <h4 class="text-danger">Find a Home</h4>
                    With over 1 million+ homes for sale available on the website, Trulia can match you with a house you
                    will want to call home.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
                <div class="card card-body">
                    <h4 class="text-danger">Find a Rental</h4>
                    With 35+ filters and custom keyword search, Trulia can help you easily find a home or apartment for
                    rent that you'll love.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="land">
    <div class="card text-center mt-4" style="border: none;">
        <div class="card-header bg-danger text-white">
            <span class="h4">Land</span>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="../../assets/images/house4.jpg" class="card-img-top" height="300" alt="...">
                        <div class="card-body text-muted">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i>&nbsp;Location</h5>
                            <ul style="list-style: none;">
                                <li class="card-text"><i class="fas fa-sitemap"></i>&nbsp;Size 0.05Ha</li>
                                <li class="card-text"><i class="fas fa-arrows-alt"></i>&nbsp;Dimension 100m by 500m</li>
                                <li class="card-text"><i class="fas fa-dollar-sign"></i>&nbsp;Price</li>
                            </ul>
                            <a [routerLink]="['/lands',1]" class="btn btn-danger w-50"><i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <a [routerLink]="['land']" class="btn btn-outline-danger rounded-circle mb-3">More</a>
        </div>

    </div>

    <!-- <div class="card text-center mt-4">
        <div class="card-header bg-danger text-white">
            <span class="h4">Homes</span>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="img/house7.jpg" class="card-img-top" height="300" alt="...">
                        <div class="card-body text-muted">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i>&nbsp;Location</h5>
                            <p>
                                <i class="fas fa-bed"></i>&nbsp;bd
                                <i class="fas fa-shower"></i>&nbsp;ba
                                <i class="fas fa-ruler-combined"></i>&nbsp;1175 sqft
                                <i class="fas fa-dollar-sign"></i>&nbsp;Price
                            </p>
                            <a href="details.html" class="btn btn-danger w-50"><i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="img/house8.jpg" class="card-img-top" height="300" alt="...">
                        <div class="card-body text-muted">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i>&nbsp;Location</h5>
                            <p>
                                <i class="fas fa-bed"></i>&nbsp;bd
                                <i class="fas fa-shower"></i>&nbsp;ba
                                <i class="fas fa-ruler-combined"></i>&nbsp;1175 sqft
                                <i class="fas fa-dollar-sign"></i>&nbsp;Price
                            </p>
                            <a href="details.html" class="btn btn-danger w-50"><i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="img/house9.jpg" class="card-img-top" height="300" alt="...">
                        <div class="card-body text-muted">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i>&nbsp;Location</h5>
                            <p>
                                <i class="fas fa-bed"></i>&nbsp;bd
                                <i class="fas fa-shower"></i>&nbsp;ba
                                <i class="fas fa-ruler-combined"></i>&nbsp;1175 sqft
                                <i class="fas fa-dollar-sign"></i>&nbsp;Price
                            </p>
                            <a href="details.html" class="btn btn-danger w-50"><i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="img/house10.jpg" class="card-img-top" height="300" alt="...">
                        <div class="card-body text-muted">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i>&nbsp;Location</h5>
                            <p>
                                <i class="fas fa-bed"></i>&nbsp;bd
                                <i class="fas fa-shower"></i>&nbsp;ba
                                <i class="fas fa-ruler-combined"></i>&nbsp;1175 sqft
                                <i class="fas fa-dollar-sign"></i>&nbsp;Price
                            </p>
                            <a href="details.html" class="btn btn-danger w-50"><i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="img/house11.jpg" class="card-img-top" height="300" alt="...">
                        <div class="card-body text-muted">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i>&nbsp;Location</h5>
                            <p>
                                <i class="fas fa-bed"></i>&nbsp;bd
                                <i class="fas fa-shower"></i>&nbsp;ba
                                <i class="fas fa-ruler-combined"></i>&nbsp;1175 sqft
                                <i class="fas fa-dollar-sign"></i>&nbsp;Price
                            </p>
                            <a href="details.html" class="btn btn-danger w-50"><i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="img/house12.jpg" class="card-img-top" height="300" alt="...">
                        <div class="card-body text-muted">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i>&nbsp;Location</h5>
                            <p>
                                <i class="fas fa-bed"></i>&nbsp;bd
                                <i class="fas fa-shower"></i>&nbsp;ba
                                <i class="fas fa-ruler-combined"></i>&nbsp;1175 sqft
                                <i class="fas fa-dollar-sign"></i>&nbsp;Price
                            </p>
                            <a href="details.html" class="btn btn-danger w-50"><i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <a href="home.html" class="btn btn-outline-danger rounded-circle mb-3">More</a>
        </div>

    </div> -->

    <!-- <div class="card text-center mt-4">
        <div class="card-header bg-danger text-white">
            <span class="h4">Rentals</span>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="img/house1.jpg" class="card-img-top" height="300" alt="...">
                        <div class="card-body text-muted">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i>&nbsp;Location</h5>
                            <p>
                                <i class="fas fa-bed"></i>&nbsp;bd
                                <i class="fas fa-shower"></i>&nbsp;ba
                                <i class="fas fa-ruler-combined"></i>&nbsp;1175 sqft
                                <i class="fas fa-dollar-sign"></i>&nbsp;Price
                            </p>
                            <a href="details.html" class="btn btn-danger w-50"><i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="img/house2.jpg" class="card-img-top" height="300" alt="...">
                        <div class="card-body text-muted">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i>&nbsp;Location</h5>
                            <p>
                                <i class="fas fa-bed"></i>&nbsp;bd
                                <i class="fas fa-shower"></i>&nbsp;ba
                                <i class="fas fa-ruler-combined"></i>&nbsp;1175 sqft
                                <i class="fas fa-dollar-sign"></i>&nbsp;Price
                            </p>
                            <a href="details.html" class="btn btn-danger w-50"><i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="img/house3.jpg" class="card-img-top" height="300" alt="...">
                        <div class="card-body text-muted">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i>&nbsp;Location</h5>
                            <p>
                                <i class="fas fa-bed"></i>&nbsp;bd
                                <i class="fas fa-shower"></i>&nbsp;ba
                                <i class="fas fa-ruler-combined"></i>&nbsp;1175 sqft
                                <i class="fas fa-dollar-sign"></i>&nbsp;Price
                            </p>
                            <a href="details.html" class="btn btn-danger w-50"><i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="img/house4.jpg" class="card-img-top" height="300" alt="...">
                        <div class="card-body text-muted">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i>&nbsp;Location</h5>
                            <p>
                                <i class="fas fa-bed"></i>&nbsp;bd
                                <i class="fas fa-shower"></i>&nbsp;ba
                                <i class="fas fa-ruler-combined"></i>&nbsp;1175 sqft
                                <i class="fas fa-dollar-sign"></i>&nbsp;Price
                            </p>
                            <a href="details.html" class="btn btn-danger w-50"><i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="img/house5.jpg" class="card-img-top" height="300" alt="...">
                        <div class="card-body text-muted">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i>&nbsp;Location</h5>
                            <p>
                                <i class="fas fa-bed"></i>&nbsp;bd
                                <i class="fas fa-shower"></i>&nbsp;ba
                                <i class="fas fa-ruler-combined"></i>&nbsp;1175 sqft
                                <i class="fas fa-dollar-sign"></i>&nbsp;Price
                            </p>
                            <a href="details.html" class="btn btn-danger w-50"><i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="img/house6.jpg" class="card-img-top" height="300" alt="...">
                        <div class="card-body text-muted">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i>&nbsp;Location</h5>
                            <p>
                                <i class="fas fa-bed"></i>&nbsp;bd
                                <i class="fas fa-shower"></i>&nbsp;ba
                                <i class="fas fa-ruler-combined"></i>&nbsp;1175 sqft
                                <i class="fas fa-dollar-sign"></i>&nbsp;Price
                            </p>
                            <a href="details.html" class="btn btn-danger w-50"><i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <a href="rentals.html" class="btn btn-outline-danger rounded-circle mb-3">More</a>
        </div>

    </div> -->

</div>