<div *ngIf="state=='init'" class="container mt-5 py-5">
    <div class="card bg-light shadow col-md-6 mx-auto">
        <div class="card-header bg-light">
            <h4 class="text-danger text-center" >Forgot Password?</h4>
        </div>
        <div class="card-body">
            <form id="login_form" (ngSubmit)="requestReset()" class="row g-3">
                <div class="col-md-12">
                  <label class="form-label">Email</label>
                  <input type="text" name="email" [(ngModel)]="email" class="form-control" id="email" placeholder="email@email.com">
                  <small id="email_error" class="form-text text-muted"></small>
                </div>
             
                <div class="col-12">
                  <button type="submit" class="btn btn-outline-danger">Recover</button>
                </div>
            </form>
        </div>
        <div class="card-footer bg-light">
            <span class="text-muted">Don't have an account?</span><a [routerLink]="['/register']" class="text-danger">Sign Up</a>
        </div>
    </div>
</div>

<div  *ngIf="state=='finish'" class="container mt-5 py-5">
    <div class="card bg-light shadow col-md-6 mx-auto">
        <div class="card-header bg-light">
            <h4 class="text-danger text-center" >Forgot Password?</h4>
        </div>
        <div class="card-body">
            <form id="login_form" (ngSubmit)="changePassword()" class="row g-3">
                <div class="col-md-12">
                  <label class="form-label">Password</label>
                  <input name="password" [(ngModel)]="newPassword" type="password" class="form-control" id="password" placeholder="*************">
                  <small id="password_error" class="form-text text-muted"></small>
                </div>
                <div class="col-md-12">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" placeholder="*************">
                    <small id="confirm_password_error" class="form-text text-muted"></small>
                  </div>
             
                <div class="col-12">
                  <button type="submit" class="btn btn-outline-danger">Reset</button>
                </div>
            </form>
        </div>
        <div class="card-footer bg-light">
            <span class="text-muted">Don't have an account?</span><a [routerLink]="['/register']" class="text-danger">Sign Up</a>
        </div>
    </div>
</div>

