<div class="container mt-4">

    <div class="card bg-light shadow col-md-10 mx-auto">
        <div class="card-header bg-light">
            <h4 class="text-danger text-center" >Sign Up for an Account</h4>
        </div>
        <div class="card-body">
            <form id="signUp_form" onsubmit="return false" class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="John">
                    <small id="firstName_error" class="form-text text-muted"></small>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Doe">
                  <small id="lastName_error" class="form-text text-muted"></small>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="email@email.com">
                  <small id="email_error" class="form-text text-muted"></small>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label">Phone Number</label>
                    <input type="number" class="form-control" id="phoneNumber" placeholder="+(254) 7-00-500-777">
                    <small id="phoneNumber_error" class="form-text text-muted"></small>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="************">
                    <small id="password_error" class="form-text text-muted"></small>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" id="confirmPassword" placeholder="************">
                  <small id="confirmPassword_error" class="form-text text-muted"></small>
                </div>
               
                <div class="col-12">
                  <button type="submit" class="btn btn-outline-danger">Sign Up</button>
                </div>
              </form>
        </div>
        <div class="card-footer bg-light">
            <span class="text-muted">Already have an account?</span><a [routerLink]="['/login']" class="text-danger">Log In</a>
        </div>
    </div>

</div>